baseURL = "/"
languageCode = "en-GB"
title = "Colin Wilson"
theme = "colinwilson"
contentDir = "content"

googleAnalytics     = "UA-98935524-1"
#disqusshortname     = "colinwilsonuk" # Comment out to disable Disqus.

[outputs]
home = [ "HTML", "RSS", "REDIRECTS", "Algolia" ]
section = [ "HTML", "RSS"]

[mediaTypes]
[mediaTypes."text/netlify"]
    suffixes = ""
    delimiter = ""

[outputFormats]
[outputFormats.REDIRECTS]
    mediatype = "text/netlify"
    baseName = "_redirects"
    isPlainText = true
    notAlternative = true

[outputFormats.Algolia]
baseName = "algolia"
isPlainText = true
mediaType = "application/json"
notAlternative = true

[params.algolia]
vars = ["title", "summary", "date", "description", "publishdate", "permalink", "year"]
params = ["categories", "tags"]

[permalinks]
    "/" = "/:year/:month/:day/:slug"
    articles = "/:year/:month/:day/:slug"

[params]
    latestpostscount       = 6 # number of posts to display on the home page
    author                 = "Colin Wilson"
    #logo                   = "/img/logo_v2.7.svg" #"/img/logo.svg"
    bio                    = "//colinwilson.uk"
    sub_bio                = "Open Source | Software Engineering | DevOps | Cloud Computing"
    description            = "Colin Wilson | DevOps Engineer, Software Engineer and Open Source creator. This is where I share what I have learned."
    #email                  = "colin.wilson@protonmail.ch"
    avatar                 = "/img/logo_v2.7.svg" # path to image in static dir e.g img/avatar.png (do not use at the same time as gravatar)
    #gravatar               = ""                # do not use at the same time as avatar
    bitcoin                = "1HNuwCnxVAsQzT3QH2MWyZFszBPHDXJu8U"

    matomoID               = "14"
    matomoURL              = "analytics.qunux.com"

    og_description         = "Systems Architect, Consultant, Technologist, lifelong learner."
    og_image               = "android-chrome-384x384.png"
    prismjs                = true

    sponsorship_url        = "https://github.com/sponsors/colinwilson"

[markup]
  defaultMarkdownHandler = "goldmark"
  [markup.goldmark]
    [markup.goldmark.renderer]
      unsafe = true # https://jdhao.github.io/2019/12/29/hugo_html_not_shown/

# Create custom menu entries by defining a label and a link for
# them. Since you can also link posts, you've the option the
# place the links before or after them.
#
# E.g.: "Home" appears before all linked posts in the menu
# and "Tags" / "Categories" after them.

[[params.menu]]
    before = true
    label  = "Home"
    link   = "/"
    icon   = "home"

[[params.menu]]
    before = false
    label  = "Articles"
    link   = "articles/"
    icon   = "search"

[[params.menu]]
    before = false
    label  = "About Me"
    link   = "about/"
    icon   = "user"

[social]
# Add your social network accounts to the footer section
# by entering your username. The links to your account will be
# created automatically.

    github          = "colinwilson"
    gitlab          = "colinwilson"
    linkedin        = ""
    twitter         = ""
    polywork        = "colinwilson"
