  {{ partial "header" . }}

  <body class="rubik">

    {{ partialCached "nav_mobile" . }}
    {{ partialCached "nav" . }}
    {{ partialCached "nav_noscript" . }}

    <div class="flex flex-column w-80 mw9 pv4 pv0-ns center">

      {{ if .Site.Params.Logo }}
        {{ partialCached "logo" . }}
      {{ end }}

        <div class="flex-auto flex flex-column justify-center pv4 pv5-ns">
            <h1 class="mt0 mb4 f3 f2-ns normal lh-copy lh-title-ns measure-narrow black-80">{{ .Title }}</h1>
        </div>

        <div class="f4 black-70 lh-copy measure-wide cap">
        {{ .Content }}
        </div>

        {{ partial "footer" . }}

    </div>
  </body>
</html>