<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
<head>
    <title>
        {{ $url := replace .Permalink ( printf "%s" .Site.BaseURL) "" }}
        {{ if eq $url "/" }}
            {{ .Site.Title }}
        {{ else }}
            {{ if .Params.heading }} {{ .Params.heading }} {{ else }} {{ .Title }} {{ end }}
        {{ end }}
    </title>
    {{ partial "favicon" . }}
    <meta name="description" content="{{ with .Site.Params.description }}{{ . }}{{ end }}">
    <meta property="og:title" content="{{ $url := replace .Permalink ( printf "%s" .Site.BaseURL) "" }}{{ if eq $url "/" }}{{ .Site.Params.author }}{{ else }}{{ .Title }}{{ end}}">
    <meta property="og:description" content="{{ .Site.Params.og_descriptioin }}">
        {{ partial "twitter-card" . }}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel='shortcut icon' type='image/x-icon' href='/favicon.ico' />
    <link href="https://fonts.googleapis.com/css?family=Rubik" rel="stylesheet">
    <link rel="stylesheet" href="https://unpkg.com/tachyons/css/tachyons.min.css">
    {{ if .Site.Params.prismjs }}
    <link rel="stylesheet" href="/css/new-moon.css">
    <link rel="stylesheet" href="//unpkg.com/prismjs@1.20.0/plugins/command-line/prism-command-line.css">
    <link rel="stylesheet" href="//unpkg.com/prismjs@1.20.0/plugins/line-numbers/prism-line-numbers.css">
    {{ end }}
    <link rel="stylesheet" href="/css/custom.css">
    {{ template "_internal/google_analytics_async.html" . }}{{ if .Site.Params.PiwikID }}{{ partial "piwik" . }}{{ end }}
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script type="text/javascript" src="//unpkg.com/gist-embed@1.0.4/dist/gist-embed.min.js"></script>
</head>