<nav id="mainnav" class="nav-main w-100 mw9 border-box pt3 pb3 center no-print fixed-top">
    <div class="dtc w-10"></div>
    <div class="dtc v-mid">
        <button id="theme-toggle" class="theme-toggle" aria-label="Theme toggle button" onclick="modeSwitcher()"></button>
    </div>
    <div class="dtc v-mid w-75 tr">
        {{- range .Site.Params.menu }}
        {{- if .before }}
        <a class="no-underline black-60 f5 dib mr2" href="{{ .link | absURL }}" title="{{ .label }}">{{ .label }}</a>
        {{- end }}
        {{- end }}

        {{- range .Site.Params.menu }}
        {{- if not .before }}
        <a class="no-underline black-60 f5 dib mr2" href="{{ .link | absURL }}" title="{{ .label }}">{{ .label }}</a>
        {{- end }}
        {{- end -}}
    </div>
    <div class="dtc w-10"></div>
</nav>