<nav class="nav-main w-100 border-box pa3 ph5-ns">
    <div class="dtc v-mid w-75 tr">
        {{ range .Site.Params.menu }}
        {{ if .before }}
        <a class="no-underline gray f5 dib mr2" href="{{ .link | absURL }}" title="{{ .label }}">{{ .label }}</a>
        {{ end }}
        {{ end }}

        {{ range .Site.Params.menu }}
        {{ if not .before }}
        <a class="no-underline gray f5 dib mr2" href="{{ .link | absURL }}" title="{{ .label }}">{{ .label }}</a>
        {{ end }}
        {{ end }}
    </div>
</nav>