<nav class="dt w-100 border-box pa3 ph5-ns">
    <div class="dtc v-mid w-75 tr">
        {{ range .Site.Params.menu }}
        {{ if .before }}
        <a class="link dim gray f6 f5-ns dib mr3 mr4-ns" href="{{ .link | absURL }}" title="{{ .label }}">{{ .label }}</a>
        {{ end }}
        {{ end }}

        {{ range .Site.Params.menu }}
        {{ if not .before }}
        <a class="link dim gray f6 f5-ns dib mr3 mr4-ns" href="{{ .link | absURL }}" title="{{ .label }}">{{ .label }}</a>
        {{ end }}
        {{ end }}
    </div>
</nav>