{{ partialCached "icons" . }}
<div id="cd-nav">
    <a href="#0" class="cd-nav-trigger no-print">Menu</a>
    <nav id="cd-main-nav">
        <mobilenav>
            <div class="h-75 mt2 mb5 flex justify-center">
                <div class="flex flex-wrap w-100">
                    {{- range .Site.Params.menu }}
                    {{- if .before }}
                    <div class="w-50 pa3">
                        <a class="no-underline" href="{{ .link | absURL }}">
                            <div class="center-me br3 shadow-hover dim pointer flex flex-column ttu fw5 f3 menu-btn">
                                <svg class="icon icon-{{ .icon }} mb2"><use xlink:href="#icon-{{ .icon }}"></use></svg>
                                <span class="f4">{{ .label }}</span>
                            </div>
                        </a>
                    </div>
                    {{- end }}
                    {{- end }}
                    {{- range .Site.Params.menu }}
                    {{- if not .before }}
                    <div class="w-50 pa3">
                        <a class="no-underline" href="{{ .link | absURL }}">
                            <div class="center-me br3 shadow-hover dim pointer flex flex-column ttu fw5 f3 menu-btn">
                                <svg class="icon icon-{{ .icon }} mb2"><use xlink:href="#icon-{{ .icon }}"></use></svg>
                                <span class="f4">{{ .label }}</span>
                            </div>
                        </a>
                    </div>
                    {{- end }}
                    {{- end -}}
                </div>
            </div>
        </mobilenav>
    </nav>
</div>
<script>
    /* disable background scrolling */
    document.querySelector(".cd-nav-trigger").addEventListener('click', function() {
        const body = document.querySelector("body");
        body.classList.toggle("overflow");
    });
</script>