  {{ partial "header" . }}

  <body class="rubik black-60">

    {{ partialCached "nav" . }}

    <div class="flex flex-column w-80 mw9 pv4 pv0-ns center">

        {{ partialCached "logo" . }}
        
        <div class="flex-auto flex flex-column justify-center pv4 pv1-ns">
            
            <author class="dt w-100 pb2 mt2" href="#0">
            <div class="dtc w2 w3-ns v-mid">
                <img src="{{ .Site.Params.avatar }}" class="db w2 w3-ns h2 h3-ns"/>
            </div>
            <div class="dtc v-top pl3">
                <h1 class="f6 f5-ns fw4 ttu tracked lh-title black-70 mv0">{{ $.Param "author" }}</h1>
                <h2 class="f7 fw4 mt1 mb0 ttu tracked gray">{{ .PublishDate.Format "02 January 2006, 3:04 PM" }}</h2>                           
            </div>
            </author>           
            <h1 class="mt0 mb4 f3 f2-ns normal lh-copy lh-title-ns measure-narrow black-80">{{ .Title }}</h1>
        </div>

        <!-- <div class="f4 black-70 lh-copy measure-wide cap"> -->
        <div class="markdown">
        {{ .Content }}
        </div>

        {{ if isset .Params "tags" }}
            {{ $tagsLen := len .Params.tags }}
            {{ if gt $tagsLen 0 }}
                <ul class="tags tracked w-80">
                    {{ range $k, $v := .Params.tags }}
                    <li><a class="article-category-link" href="{{ $.Site.BaseURL }}tags/{{ . | urlize | lower }}">{{ . }}</a></li>
                    {{ end }}
                </ul>
            {{ end }}
        {{ end }}       

        {{ if or .PrevInSection .NextInSection }}
        <div class="w-70 mw9">
            {{ if .PrevInSection }}
            <div class="fl w-100 w-50-ns">
                <a href="{{ .PrevInSection.Permalink }}" id="article-nav-older" class="db black-80 link hover-gray">                    
                    <h4><svg class="w1" data-icon="chevronLeft" viewBox="0 -18 50 50" style="fill:currentcolor">
                            <title>chevronLeft icon</title>
                            <path d="M20 1 L24 5 L14 16 L24 27 L20 31 L6 16 z"></path>
                        </svg>
                        {{ .PrevInSection.Title }}                        
                    </h4>                    
                </a>                
            </div>
            {{ end }}
            {{ if .NextInSection }}
            <div class="fl w-100 w-50-ns tc">
                <a href="{{ .NextInSection.Permalink }}" id="article-nav-newer" class="db black-80 link hover-gray">
                    <h4>                        
                        {{ .NextInSection.Title }}
                        <svg class="w1" data-icon="chevronRight" viewBox="0 -18 50 50" style="fill:currentcolor">
                        <title>chevronRight icon</title>
                        <path d="M12 1 L26 16 L12 31 L8 27 L18 16 L8 5 z"></path>
                        </svg>
                    </h4>
                </a>
            </div>
            {{ end }}
        </div>
        {{ end }}    

        {{ partial "footer" . }}

    </div>
  </body>
</html>