/* --------------------------------

Main components

-------------------------------- */

/* Dark Theme Mobile Menu */
:root {
  --background: #121212;
  --menu-btn-background: #1e1e1e;
  --menu-text-color: #e1e1e1;
  --body-background-color: #82a8ee;
  --body-color: #97adc6;
  --navigation-background-color: #f0f6ff;
  --navigation-border-radius: 0.25em;
  --navigation-anchor-padding: 1.5em;
}

@media print {
  .no-print, .no-print * {
    display: none !important;
  }
}

@media only screen and (min-width: 1170px) {
  #mobilenav {
    visibility: hidden;
  }
}

.headroom {
  will-change: transform;
  transition: transform 200ms linear;
}
.headroom--pinned {
  transform: translateY(0%);
}
.headroom--unpinned {
  transform: translateY(100%);
}

.nav--fixed {
  position: fixed;
z-index: 10;
right: 0;
left: 0;
bottom: 0;
}
/* helpers/accessibility.css */

.invisible {
  left: -999px;
  overflow: hidden;
  position: absolute;
  top: -999px;
}

/* modules/icon.css */

.icons {
  display: none;
}

.icon {
  height: 1em;
  display: inline-block;
  fill: var(--mobile-nav-icon-color);
  width: 100%;
  vertical-align: middle;
}

.icon--2x {
  font-size: 2rem;
}

/* modules/image.css */

.navigation svg {
  max-width: 100%;
}

.navigation {
  background-color: var(--mobile-nav-bg-color);
}

.navigation ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.navigation a {
  display: block;
  padding: 1.5em;
  padding: var(--navigation-anchor-padding);
  position: relative;
  text-decoration: none;
}

.navigation a:focus::after,
.navigation a:hover::after {
  opacity: 1;
}

.navigation a::after {
  height: 100%;
  -webkit-box-shadow: 0 0.5em 1em rgba(0, 0, 0, 0.3);
          box-shadow: 0 0.5em 1em rgba(0, 0, 0, 0.3);
  content: '';
  width: 100%;
  left: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  -webkit-transition: opacity 0.3s;
  -o-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

.navigation--inline ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

