/* --------------------------------

mobile navigation components

-------------------------------- */

@media print {
  .no-print, .no-print * {
    display: none !important;
  }
}

@media only screen and (min-width: 1170px) {
  #mobilenav {
    visibility: hidden;
  }
}

.animated {
  -webkit-animation-duration: 0.5s;
     -moz-animation-duration: 0.5s;
       -o-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-fill-mode: both;
     -moz-animation-fill-mode: both;
       -o-animation-fill-mode: both;
          animation-fill-mode: both;
  will-change: transform, opacity;
  transition: transform .5s linear,-webkit-transform .5s linear,-moz-transform .5s linear,-o-transform .5s linear
}

@-webkit-keyframes slideDownBottom {
  0% {
    -webkit-transform: translateY(0);
  }

  100% {
    -webkit-transform: translateY(100%);
  }
}

@-moz-keyframes slideDownBottom {
  0% {
    -moz-transform: translateY(0);
  }

  100% {
    -moz-transform: translateY(100%);
  }
}

@-o-keyframes slideDownBottom {
  0% {
    -o-transform: translateY(0);
  }

  100% {
    -o-transform: translateY(100%);
  }
}

@keyframes slideDownBottom {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(100%);
  }
}

@-webkit-keyframes slideDownTop {
  0% {
    -webkit-transform: translateY(-100%);
  }

  100% {
    -webkit-transform: translateY(0);
  }
}

@-moz-keyframes slideDownTop {
  0% {
    -moz-transform: translateY(-100%);
  }

  100% {
    -moz-transform: translateY(0);
  }
}

@-o-keyframes slideDownTop {
  0% {
    -o-transform: translateY(-100%);
  }

  100% {
    -o-transform: translateY(0);
  }
}

@keyframes slideDownTop {
  0% {
    transform: translateY(-100%);
  }

  100% {
    transform: translateY(0);
  }
}

.animated.slideDownBottom {
  -webkit-animation-name: slideDownBottom;
  -moz-animation-name: slideDownBottom;
  -o-animation-name: slideDownBottom;
  animation-name: slideDownBottom;
}

.animated.slideDownTop {
  -webkit-animation-name: slideDownTop;
  -moz-animation-name: slideDownTop;
  -o-animation-name: slideDownTop;
  animation-name: slideDownTop;
}

@-webkit-keyframes slideUpBottom {
  0% {
    -webkit-transform: translateY(100%);
  }

  100% {
    -webkit-transform: translateY(0);
  }
}
@-moz-keyframes slideUpBottom {
  0% {
    -moz-transform: translateY(100%);
  }

  100% {
    -moz-transform: translateY(0);
  }
}
@-o-keyframes slideUpBottom {
  0% {
    -o-transform: translateY(100%);
  }

  100% {
    -o-transform: translateY(0);
  }
}
@keyframes slideUpBottom {
  0% {
    transform: translateY(100%);
  }

  100% {
    transform: translateY(0);
  }
}

@-webkit-keyframes slideUpTop {
  0% {
    -webkit-transform: translateY(0);
  }

  100% {
    -webkit-transform: translateY(-100%);
  }
}
@-moz-keyframes slideUpTop {
  0% {
    -moz-transform: translateY(0);
  }

  100% {
    -moz-transform: translateY(-100%);
  }
}
@-o-keyframes slideUpTop {
  0% {
    -o-transform: translateY(0);
  }

  100% {
    -o-transform: translateY(-100%);
  }
}
@keyframes slideUpTop {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(-100%);
  }
}

.animated.slideUpBottom {
  -webkit-animation-name: slideUpBottom;
  -moz-animation-name: slideUpBottom;
  -o-animation-name: slideUpBottom;
  animation-name: slideUpBottom;
}

.animated.slideUpTop {
  -webkit-animation-name: slideUpTop;
  -moz-animation-name: slideUpTop;
  -o-animation-name: slideUpTop;
  animation-name: slideUpTop;
}

/* helpers/accessibility.css */

.invisible {
  left: -999px;
  overflow: hidden;
  position: absolute;
  top: -999px;
}

/* modules/icon.css */

.icons {
  display: none;
}

.icon {
  height: 1em;
  display: inline-block;
  fill: var(--mobile-nav-icon-color);
  width: 100%;
  vertical-align: middle;
}

.icon--2x {
  font-size: 2rem;
}

/* modules/image.css */

.navigation svg {
  max-width: 100%;
}

.navigation {
  background-color: var(--mobile-nav-bg-color);
  box-shadow: 0 0 10px 0 var(--dark-background);
}

.navigation ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.navigation a {
  display: block;
  padding: 1.5em;
  position: relative;
  text-decoration: none;
}

.navigation a:focus::after,
.navigation a:hover::after {
  opacity: 1;
}

.navigation a::after {
  height: 100%;
  -webkit-box-shadow: 0 0.5em 1em rgba(0, 0, 0, 0.3);
          box-shadow: 0 0.5em 1em rgba(0, 0, 0, 0.3);
  content: '';
  width: 100%;
  left: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  -webkit-transition: opacity 0.3s;
  -o-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

.navigation--inline ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

